pre, code {
  font-size: 9pt;
}

pre.xml-format {
  margin: 0em;
  border: 1px solid rgb(200,200,200); 
  background-color: rgb(240,240,240);
}

img {
  vertical-align: top;   
  border: 1px solid rgb(200,200,200);
}

img.shot-border {
  /* border: 1px solid rgb(200,200,200); */
}

