pre, code {
  font-size: 9pt;
}

pre.xml-format {
  margin: 1em 0em;
  padding: 0.5em;
  border: 2px inset rgb(100,100,100); 
  background-color: rgb(240,240,240);
  line-height: 1.2em;
}

img {
  vertical-align: top;   
}

img.shot-border {
  border: 1px solid rgb(200,200,200);
}

